
$accent: #5606FF;
$dark: #000543;

%heebo-900 {
  font-family: 'Heebo-Black', sans-serif;
  font-weight: 900;
}

%heebo-800 {
  font-family: 'Heebo-ExtraBold', sans-serif;
  font-weight: 800;
}
%heebo-700 {
  font-family: 'Heebo-Bold', sans-serif;
  font-weight: 700;
}

%heebo-400 {
  font-family: 'Heebo-Regular', sans-serif;
  font-weight: 400;
}

%heebo-300 {
  font-family: 'Heebo-Light', sans-serif;
  font-weight: 300;
}

%encodeSansSC-900 {
  font-family: 'EncodeSansSC-Black', sans-serif;
  font-weight: 900;
}
%encodeSansSC-700 {
  font-family: 'EncodeSansSC-Bold', sans-serif;
  font-weight: 700;
}
%encodeSansSC-100 {
  font-family: 'EncodeSansSC-Thin', sans-serif;
  font-weight: 100;
}

